/* grid config */
.Home-Login{
    display: grid;
    grid-template-rows: 10vh 20vh 60vh 40vh 10vh;

}

.SideNav{
    grid-row: 1;
    display: grid;
    z-index: 3;
}
.Cursos{
    z-index: 2;
}
.motivation{
    display: flex;
    grid-row: 5;
}
.motivacionBox{
    width: 100%;
    height:max-content;
    min-height: 80px;
    text-align: center;
    font-size: 16px;
    color: #00ff00;
    background-color: #d9d9d9;
}
.Motivacion{
    color: black;
}

.summary{
    grid-row: 4;
}
@media (min-width:768px){
    .fondo{
        background-size: 300px 300px;
    }
    .motivacionBox{
        height: 100%;
        position: relative; 
    }
}