.finanzas{
    display: grid;
    grid-template-columns: 40vw 60vw;
    height: 100vh;
    width: 100dvw;
}
.ingresosModal{
    display: flex;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}
.graficasBar{
    display: flex;
    grid-column: 1;
    position: fixed;
    flex-direction: column;
    align-self: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.barDonut{
    border: 1px solid #d9d9d9;
    background-color: #d9d9d940;
    width: 200px;
    height: max-content;
}

@media (min-width:768px){
    .barDonut{
        width: 300px;
    }

}