@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/* Reglas */
* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenido */


.Inicio {
    display: grid;

}

/* Imagenes*/
.Fondologo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blogo {
    display: flex;
    height: fit-content;
    z-index: 1;
    grid-row: 3;
    opacity: 50%;

}


.Hlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    grid-row: 1;

}


/* MediaQueries */

@media(min-width:768px) {
    .Fondologo {
        background-color: #d9d9d9;
        height: 100vh;
    }

    .Blogo {
        height: fit-content;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .Hlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        height: 60px;
    }
.botones-login{
    grid-column:2;
}

}