@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/* Reglas */
* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenido */


.content-Background {
    display: grid;
    grid-template-columns: 10vh 80vh 10vh;
    grid-template-rows: 20vh 60vh 20vh;

}

/* Imagenes*/
.Fondologo {
    display: flex;
    position: relative;
    grid-row: 3;
    grid-column:2;
    align-items: center;
    justify-content: center;
}

.B-logo {
    display: flex;
    z-index: 1;
    opacity: 50%;

}


.Hlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    grid-row: 1;

}
/* botones */
.botones-login{
    position: relative;
}
/* MediaQueries */

@media(min-width:768px) {
    .Fondologo {
        position: relative;
        height: 100vh;
    }

    .logo {
        height: fit-content;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .Hlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        height: 60px;
    }
.botones-login{
    grid-column:2;
}

}