
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* Reglas */
* {
    margin: 0%;
    padding: 0%;
    
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
.Login-Registro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
/* Contenido */

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 25pt;
    font-family: 'Oswald', Bold;
}

/* Registro/login */
.content {
    display: grid;
    position: relative;
    grid-template-rows: 10vh 10vh 60vh 20vh;

}

/* Imagenes*/
.Flogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    z-index: 1;
    grid-row: 3;
    opacity: 50%;
    position: absolute;

}

.tlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    grid-row: 1;

}

.textlogo {
    margin-top: 5%;
    height: 80px;
    z-index: 20;
}

/* Texto/Form/botones */
.Tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    z-index: 20;
    grid-row: 2;
    font-size: 3.6em;
    color: #d9d9d9;
}

.formRegistroLogin{
    position: relative;
    grid-row: 3;
    height: 50vh;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    
}



.inputLogin-Registro {
    background-color: #d9d9d940;
    border: 1px solid black;
    border-style: inset;
    margin:15px;
    text-align: center;
    width: 340px;
    height: 50px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 1.8em;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    grid-row: 4;
}

#RegisterUser {
    z-index: 20;
    color: #000;
    font-family: 'Oswald';
    font-size: 1.8em;
    border: 1px;
    width: 340px;
    height: 50px;
    margin-bottom: 5px;
    background-color: #00FF00;
}

#LoginUser {
    z-index: 20;
    border: 1px;
    color: black;
    font-family: 'Oswald';
    font-size: 1.8em;
    width: 330px;
    height: 50px;
    background-color: #d9d9d9;
}
/* .U:A */
.RegisterUser:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.LoginUser:hover {
    cursor: pointer;
}

input::placeholder {
    color: #00000084;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 700;
    margin-top: 5px;
    font-size: 1.9rem;
}

input:focus-visible {
    outline-color: #00FF00;
}


/* MediaQueries */

@media(min-width:769px) {

    .content {
        grid-template-columns: 50vw 50vw;
    }

    .Flogo {
        grid-column: 1;
        background-color: #d9d9d9;
        height: 100vh;
        background-image: none;
    }

    .logo {
        height: max-content;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .tlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        height: 60px;
        grid-row: 1;
        grid-column: 2;
    }

    .Tittle {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        grid-column: 2;
        grid-row: 2;
        font-size: 3.6em;
        color: #d9d9d9;
    }

    .botones {
        grid-column: 2;
    }

    .formRegistroLogin {
        display: flex;
        position: relative;
        grid-column: 2;
        grid-row: 3;
        align-items: center;
        justify-content: center;
    }

    .Registro-Login {
        grid-column: 2;
        grid-row: 3;
        position: relative;
        flex-direction: column;
        z-index: 20;
    }
}